<a class="btn btn-primary" href="/#/create/program"><span class="glyphicon glyphicon-plus"></span> Create Program</a>
<br/>
<table class="table table-striped" >
  <thead>
    <th>Program</th>
    <th>College</th>
    <th>Province</th>
    <th>Semesters</th>
    <th>Open</th>
    
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat="program in programs">
      <td><a ng-href="/#/program/{{ program._id }}">{{ program.title }}</a></td>
      <td>{{ program.college }}</td>
      <td>{{ program.province }}</td>
      <td>{{ program.semesters }}</td>
      <td>{{ program.isOpen }}</td>
     
      <td>
        <div class="button-group">
          <a ng-href="/#/program/{{ program._id }}/edit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
          <a ng-href="/#/program/{{ program._id }}/delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
