
    <!-- Adding the ng-app declaration to initialize AngularJS -->
 	<div class="bar">
		<!-- Create a binding between the searchString model and the text field -->
		<input type="text" ng-model="searchString" placeholder="Enter your search terms" />
	</div>

	<ul>
		<!-- Render a li element for every entry in the items array. Notice
			 the custom search filter "searchFor". It takes the value of the
			 searchString model as an argument.
		 -->
		<li ng-repeat="program in programs | searchFor:searchString">
			<a href="{{program.url}}">
			<p>{{program.title}}</p>
		</li>
	</ul>
